.Messages {
  width: 50%;
  margin: 3% auto 0px;
  
  @include breakpoint(small only) {
    width: 80%;
  }
}

.Quote {
  color: #4aabef;
  font-weight: 700;
}

.This-text{
  color: #ff0000;
  font-weight: 700;
}
