@keyframes example {
  0%   {left:3%;}
  100% {left:97%;}
}

.Animated-div{
    width: 100px;
    height: 47px;
    background: #7c334f;
    color: #ffffff;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    animation: animated_div 5s 1;
    -moz-animation: animated_div 5s 1;
    -webkit-animation: animated_div 5s 1;
    -o-animation: animated_div 5s 1;
    animation-direction: alternate;  
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.Arrow {
    @unitSize: 20px;
	width: 0;
	height: 0;
	border-top: @unitSize solid transparent;
	border-left: (@unitSize * 2) solid red;
	border-bottom: @unitSize solid transparent;
	margin-left:  @unitSize;
	
	&:before {
		content: "";
		position: absolute;
		width: @unitSize ;
		height: @unitSize / 2;
		background: red;
		left: 0;
		top: @unitSize / 1.4;
	}
}

.Messages {
  width: 50%;
  margin: 3% auto 0px;
  
  @include breakpoint(small only) {
    width: 80%;
  }
}

.Quote {
  color: #4aabef;
  font-weight: 700;
}

.This-text{
  color: #ff0000;
  font-weight: 700;
}
