background {
  background: #eff7ff;
}

.Animated-div{
    background: #7c334f;
    color: #ffffff;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    padding: 12px;
    animation: animated_div 5s 1;
    -moz-animation: animated_div 5s 1;
    -webkit-animation: animated_div 5s 1;
    -o-animation: animated_div 5s 1;
    animation-direction: alternate;  
    animation-iteration-count: infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 30%;
}

@keyframes animated_div {
  0%   {left:3%;}
  100% {left:97%;}
}

.Arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid red;
    margin-top: 10px;
}

.Messages {
  width: 50%;
  margin: 3% auto 0px;
}

.Quote {
  color: #4aabef;
  font-weight: 700;
}

.This-text{
  color: #ff0000;
  font-weight: 700;
}
